<div class="rlx-modal-header">
    <button class="close-btn close-x" type="button" onclick="Custombox.close()">
        <span>X</span>
    </button>
    <span>{{title}}</span>
</div>

<div class="rlx-modal-body">
  <label>{{{message}}}</label>
</div>

<div class="rlx-modal-footer">
  <input type="button" class="rlx-button rlx-button-modal" value="{{btnAcceptValue}}" onclick="Custombox.close()">
</div>



