@import 'nib'

.rlx-modal-header
  background: #333 none repeat scroll 0 0
  color: whitesmoke
  line-height: -moz-block-height;
  font-size: 19px
  font-weight: bold
  height: 54px
  text-align: center
  border-radius: 10px

.close-btn
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.2;
  text-shadow: 0 1px 0 #fff;
  right: 15px;
  top: 15px;

.close-x
  position: absolute
  float: right

.rlx-modal-body
  width 95%
  padding-top 20px
  font-size: 15px
  margin-left 17px
  span
    font-size 19px
    line-height 53px


.rlx-modal-table
  line-height: 35px
  width: 50%
  th
    text-align left


.rlx-table-left
  float: left

.rlx-modal-espmanual
  display: none
  #rlx-confirm-modal-btn-esp
    min-width 103px !important

.rlx-modal-footer
  margin-top: 40px

.rlx-button-modal
  font-size: 17px;
  &:hover
    color deepskyblue