<!-- Page Content -->
<div class="container">
    <footer>
        <div class="row">
            <div style="float: right;padding: 20px;cursor:pointer">
                <img src="images/facebook.png" onmouseover="this.src='images/facebookHover.png'" onmouseout="this.src='images/facebook.png'" height="50" width="50"/>
                <img src="images/twitter.png" onmouseover="this.src='images/twitterHover.png'" onmouseout="this.src='images/twitter.png'" height="50" width="50"/>
                <img src="images/chat.png" onmouseover="this.src='images/chatHover.png'" onmouseout="this.src='images/chat.png'" height="50" width="50"/>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->