<div id="rlx-buttons-select">
    <input data-type="Dispatch" type="button" class="rlx-button rlx-button-initpage dispatch-btn rlx-select-btn" value="READ TAG"/>
    {{!<input data-type="Po" type="button" class="rlx-button-initpage po-btn rlx-select-btn" value="PO"/>}}
</div>