<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide" style="height: 65vh; !important">
    <div class="carousel-caption">
        <ul class="bxslider">
            <li><img class="img-responsive" src="images/logo.png" height="250" width="700"/></li>
            <li><img class="img-responsive" src="images/croma.jpg" height="250" width="700"/></li>
        </ul>

        <h2 style="color:#0099FF">INGENIERÍA Y SOPORTE FARMACÉUTICO <br>S.A. DE C.V.</h2>
    </div>
</header>
