<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide" style="height: 65vh; !important">
    <div class="carousel-inner">
        <div class="item active">
            <div class="carousel-caption">
                <img src="images/logo.png" height="250" width="700"/>
                <h2>Titulo o Eslogan</h2>
            </div>
        </div>
    </div>
</header>
