@import 'nib'

.home-page
  width: 75%
  height: 444px
  margin: 0 auto
  padding: 5px
  margin-bottom: 1em
  color: #fff
  text-align : center

  .rlx-button-initpage
    font-size: 25px;

  .dispatch-btn
    padding:120px 129px;




  #rlx-buttons-select
    padding-top: 80px;